doctype html 
html
  head
    title Bikram Dance Academy
    block scripts
    block style
  Body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | BDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2021 BikramAcademy.com | All Rights Reserved